pkgbase = claude-workspaces
	pkgdesc = Workspace manager pra lançar o Claude Code com contexto isolado por projeto
	pkgver = 0.76.84
	pkgrel = 1
	url = https://github.com/itaaloalan/claude-workspaces
	install = claude-workspaces.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python>=3.11
	depends = pyside6
	depends = python-pip
	optdepends = libnotify: notificações de fim de turno do Claude
	optdepends = konsole: terminal padrão dos botões "Abrir Terminal"
	optdepends = code: integração com VS Code
	optdepends = intellij-idea-community-edition: integração com IntelliJ
	source = claude-workspaces-0.76.84.tar.gz::https://github.com/itaaloalan/claude-workspaces/archive/refs/tags/v0.76.84.tar.gz
	sha256sums = 35b69b17030d08becc36c56265255235f8790013668c6efe1695b6ad25b6b031

pkgname = claude-workspaces
